{% extends 'layouts/index.html' %}

{% block content %}

    <h1>Login</h1>
    <p>{{user.username}}: Имя пользователя (уникальное).</p><br>
    <p>{{user.first_name}}: Имя пользователя.</p><br>
    <p>{{user.last_name}}: Фамилия пользователя.</p><br>
    <p>{{user.email}}: Адрес электронной почты пользователя.</p><br>
    <p>{{user.password}}: Хешированный пароль пользователя.</p><br>
    <p>{{user.is_active}}: Флаг, указывающий, активен ли пользователь.</p><br>
    <p>{{user.is_staff}}: Флаг, указывающий, является ли пользователь членом персонала (с правами администратора).</p><br>
    <p>{{user.is_superuser}}: Флаг, указывающий, является ли пользователь суперпользователем.</p><br>
    <p>{{user.date_joined}}: Дата и время, когда пользователь был зарегистрирован.</p><br>

{% endblock %}